@use "functions" as *;
@use "variables" as *;

/* General body styling */
body {
  position: relative; /* Ensures the body is positioned relative to its normal flow */
  display: flex; /* Enables flexbox layout */
  justify-content: center; /* Centers content horizontally */
  // align-items: center; /* Centers content vertically */
  min-height: 100vh; /* Ensures the body takes up at least the full viewport height */
  font-family: $font-family;
  font-style: normal;
  line-height: normal;
  background: $darkNavy;
  font-feature-settings:
    "liga" off,
    "clig" off;
}

/* Media query for screens with a width of up to 375px */
@media screen and (max-width: 375px) {
  body {
    min-height: 100%; /* Ensures the body takes up at least the full height of its parent container */
  }
}

// Mobile First Approach

.d-none {
  display: none;
}

.d-flex {
  display: flex;
}

button {
  border: none;
  background: none;

  &:hover {
    cursor: pointer;
  }
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

/* Overlay styles */
#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000; /* Dark blue background */
  opacity: 0.5;
  z-index: 1;
  transition: opacity 0.3s ease;
}

#overlay.d-none {
  opacity: 0;
  pointer-events: none; /* Disable interaction when hidden */
}

#overlay.d-flex {
  opacity: 0.5;
  pointer-events: auto; /* Enable interaction when visible */
}

main {
  &.container {
    position: relative;

    .wrapper {
      padding: rem(110px) rem(24px);
      flex-direction: column;
      align-items: center;
      row-gap: 2rem;
      width: rem(327px);

      .pick-player {
        border-radius: 15px;
        background: $semiDarkNavy;
        box-shadow: 0px -8px 0px 0px #10212a inset;
        flex-direction: column;
        row-gap: 2rem;
        align-items: center;
        justify-content: center;
        padding: 1.5rem;
        width: 100%;

        .instruction {
          @include heading-xs;
          color: $silver;
          text-transform: uppercase;
        }

        .pick_mark {
          background-color: $darkNavy;
          border-radius: 10px;
          column-gap: 1rem;
          padding: rem(9px) rem(8px);
          width: 100%;

          .x_btn {
            flex: 1;
            border-radius: 10px;

            &:hover {
              background-color: rgba(168, 191, 201, 0.05);
            }
          }

          .o_btn {
            background-color: $silver;
            border-radius: 10px;
            flex: 1;
            padding: rem(11px) 0;
          }
        }

        .reminder {
          @include body;
          color: $silver;
          text-transform: uppercase;
        }
      }

      .select-opponent {
        row-gap: 1rem;
        width: 100%;

        .vs-cpu_btn {
          @include heading-xs;
          @include vs-btn;
          background: $lightYellow;
          box-shadow: 0px -8px 0px 0px #cc8b13 inset;
          padding: rem(14px) 0 rem(22px);

          &:hover {
            background: $lightYellowHover;
          }
        }

        .vs-player_btn {
          @include heading-xs;
          @include vs-btn;
          background: $lightBlue;
          box-shadow: 0px -8px 0px 0px #118c87 inset;
          padding: rem(14px) 0 rem(22px);

          &:hover {
            background: $lightBlueHover;
          }
        }
      }
    }

    .game_board {
      padding: 1.5rem 1.5rem rem(127px);
      flex-direction: column;
      row-gap: rem(64px);
      width: rem(375px);

      .status {
        justify-content: space-between;
        align-items: center;
        width: 100%;

        .current_player {
          @include body;
          border-radius: 5px;
          background: $semiDarkNavy;
          box-shadow: 0px -4px 0px 0px #10212a inset;
          color: $silver;
          padding: rem(10px) rem(15px) rem(14px);
          text-transform: uppercase;
        }

        .restart {
          background-color: $silver;
          border-radius: 8px;
          box-shadow: 0px -4px 0px 0px #6b8997 inset;
          width: 40px;
          height: 40px;

          &:hover {
            background: $silverHover;
          }
        }
      }

      .tiles-and-scores {
        row-gap: rem(20px);

        .tiles {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          gap: rem(20px);

          .tile {
            border-radius: 10px;
            background: $semiDarkNavy;
            box-shadow: 0px -8px 0px 0px #10212a inset;
            width: 96px;
            height: 96px;
            position: relative;

            svg {
              position: absolute;
              top: 50%; /* Move down by 50% of the parent's height */
              left: 50%; /* Move right by 50% of the parent's width */
              transform: translate(-50%, -50%);
            }

            &:hover {
              cursor: pointer;
            }
          }
        }

        .scores {
          column-gap: rem(20px);

          div {
            border-radius: 10px;
            padding: rem(12px) 0;
            text-align: center;
            text-transform: uppercase;
            flex: 1;

            span {
              @include body;
            }

            p {
              @include heading-s;
            }
          }

          .you {
            background: $lightBlue;
          }

          .ties {
            background: $silver;
          }

          .cpu {
            background: $lightYellow;
          }
        }
      }
    }

    .winner-loser_banner {
      background-color: $semiDarkNavy;
      flex-direction: column;
      align-items: center;
      row-gap: 1rem;
      padding: rem(40px) rem(47) rem(48) rem(48);
      top: 50%; /* Move down by 50% of the parent's height */
      @include pos-abs-center;

      .result_desc {
        @include body-b;
        color: $silver;
        text-transform: uppercase;
      }

      .result_tie {
        @include heading-m;
        color: $silver;
        text-transform: uppercase;
      }

      .winner {
        column-gap: rem(8px);
        img {
          width: 30px;
          height: 30px;
        }
        span {
          @include heading-m;
          &.knot {
            color: $lightYellow;
          }
          &.cross {
            color: $lightBlue;
          }
        }
      }

      .quit-next-round_btns {
        column-gap: 1rem;

        .quit {
          background: $silver;
          box-shadow: 0px -4px 0px 0px #6b8997 inset;
          padding: rem(15px) rem(16px) rem(17px) rem(17px);
          @include heading-xs;
          @include quit-next-btns;

          &:hover {
            background: $silverHover;
          }
        }

        .next_round {
          background-color: $lightYellow;
          box-shadow: 0px -4px 0px 0px #cc8b13 inset;
          padding: rem(15px) rem(16px) rem(17px) rem(17px);
          @include heading-xs;
          @include quit-next-btns;

          &:hover {
            background: $lightYellowHover;
          }
        }
      }
    }

    .restart_banner {
      align-items: center;
      background-color: $semiDarkNavy;
      flex-direction: column;
      row-gap: 1.5rem;
      padding: rem(61) rem(34);
      @include pos-abs-center;
      top: 50%; /* Move down by 50% of the parent's height */

      .result_desc {
        @include heading-m;
        color: $silver;
        text-transform: uppercase;
      }

      .restart_btns {
        column-gap: 1rem;

        .no_cancel {
          @include heading-xs;
          @include quit-next-btns;
          background: $silver;
          box-shadow: 0px -4px 0px 0px #6b8997 inset;
          padding: rem(15px) rem(16px) rem(17px) rem(17px);
        }

        .yes_restart {
          @include heading-xs;
          @include quit-next-btns;
          background: $lightYellow;
          box-shadow: 0px -4px 0px 0px #cc8b13 inset;
          padding: rem(15px) rem(17.5px) rem(17px) rem(15.5px);
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  main {
    &.container {
      .wrapper {
        padding: 0;
        margin: rem(277) rem(154);
        row-gap: rem(40);
        width: rem(460);

        .pick-player {
          row-gap: 1rem;

          .pick_mark {
            margin: rem(8) 0 rem(1);
          }
        }

        .select-opponent {
          row-gap: rem(20);

          .vs-cpu_btn {
            @include heading-s;
            padding: rem(17px) 0 rem(25px);
          }

          .vs-player_btn {
            @include heading-s;
            padding: rem(17px) 0 rem(25px);
          }
        }
      }

      .game_board {
        row-gap: rem(19px);
        margin: rem(201) auto;
        padding: 0;
        width: rem(460px);

        .status {
          .current_player {
            @include heading-xs;
            padding: rem(13px) rem(30px) rem(19px);
          }

          .restart {
            width: 52px;
            height: 52px;
          }
        }

        .tiles-and-scores {
          row-gap: rem(20px);

          .tiles {
            .tile {
              border-radius: 15px;
              width: 140px;
              height: 140px;
            }
          }

          .scores {
            div {
              border-radius: 15px;

              p {
                @include heading-m;
              }
            }
          }
        }
      }

      .winner-loser_banner {
        row-gap: 1rem;
        padding: rem(45) rem(138);
        top: 29%;
        margin-top: rem(201);

        .result_desc {
          @include heading-xs;
        }

        .winner {
          column-gap: rem(24);
          img {
            width: 64px;
            height: 64px;
          }
          span {
            @include heading-l;
          }
        }
      }

      .restart_banner {
        row-gap: rem(31);
        padding: rem(67) rem(210);
        top: 29%;
        margin-top: rem(201);

        .result_desc {
          @include heading-l;
        }

        .restart_btns {
          column-gap: 1rem;

          .no_cancel {
            padding: rem(15px) rem(16px) rem(17px) rem(18px);
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  main {
    &.container {
      .wrapper {
        margin: rem(215) auto;
      }

      .game_board {
        row-gap: rem(20px);
        margin: rem(139) auto;
      }

      .winner-loser_banner {
        row-gap: 1rem;
        padding: rem(45) rem(138);
        top: 13%;
        margin-top: rem(250);
      }

      .restart_banner {
        margin-top: rem(55px);
        row-gap: rem(31);
        padding: rem(67) rem(210);
        top: 27%;

        .result_desc {
          @include heading-l;
        }

        .restart_btns {
          column-gap: 1rem;

          .no_cancel {
            padding: rem(15px) rem(16px) rem(17px) rem(18px);
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1440px) {
}
