.heading-l {
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 2.5px;
  text-transform: uppercase;
}

.heading-m {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.heading-s {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 1.25px;
  text-transform: uppercase;
}

.heading-xs {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1px;
}

.body {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.875px;
}

.body-b {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.875px;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

/* General body styling */
body {
  position: relative; /* Ensures the body is positioned relative to its normal flow */
  display: flex; /* Enables flexbox layout */
  justify-content: center; /* Centers content horizontally */
  min-height: 100vh; /* Ensures the body takes up at least the full viewport height */
  font-family: "Outfit", sans-serif;
  font-style: normal;
  line-height: normal;
  background: #1a2a33;
  font-feature-settings: "liga" off, "clig" off;
}

/* Media query for screens with a width of up to 375px */
@media screen and (max-width: 375px) {
  body {
    min-height: 100%; /* Ensures the body takes up at least the full height of its parent container */
  }
}
.d-none {
  display: none;
}

.d-flex {
  display: flex;
}

button {
  border: none;
  background: none;
}
button:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

/* Overlay styles */
#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000; /* Dark blue background */
  opacity: 0.5;
  z-index: 1;
  transition: opacity 0.3s ease;
}

#overlay.d-none {
  opacity: 0;
  pointer-events: none; /* Disable interaction when hidden */
}

#overlay.d-flex {
  opacity: 0.5;
  pointer-events: auto; /* Enable interaction when visible */
}

main.container {
  position: relative;
}
main.container .wrapper {
  padding: 6.875rem 1.5rem;
  flex-direction: column;
  align-items: center;
  row-gap: 2rem;
  width: 20.4375rem;
}
main.container .wrapper .pick-player {
  border-radius: 15px;
  background: #1f3641;
  box-shadow: 0px -8px 0px 0px #10212a inset;
  flex-direction: column;
  row-gap: 2rem;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
  width: 100%;
}
main.container .wrapper .pick-player .instruction {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1px;
  color: #a8bfc9;
  text-transform: uppercase;
}
main.container .wrapper .pick-player .pick_mark {
  background-color: #1a2a33;
  border-radius: 10px;
  column-gap: 1rem;
  padding: 0.5625rem 0.5rem;
  width: 100%;
}
main.container .wrapper .pick-player .pick_mark .x_btn {
  flex: 1;
  border-radius: 10px;
}
main.container .wrapper .pick-player .pick_mark .x_btn:hover {
  background-color: rgba(168, 191, 201, 0.05);
}
main.container .wrapper .pick-player .pick_mark .o_btn {
  background-color: #a8bfc9;
  border-radius: 10px;
  flex: 1;
  padding: 0.6875rem 0;
}
main.container .wrapper .pick-player .reminder {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.875px;
  color: #a8bfc9;
  text-transform: uppercase;
}
main.container .wrapper .select-opponent {
  row-gap: 1rem;
  width: 100%;
}
main.container .wrapper .select-opponent .vs-cpu_btn {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1px;
  border-radius: 15px;
  width: 100%;
  text-transform: uppercase;
  background: #f2b137;
  box-shadow: 0px -8px 0px 0px #cc8b13 inset;
  padding: 0.875rem 0 1.375rem;
}
main.container .wrapper .select-opponent .vs-cpu_btn:hover {
  background: #ffc860;
}
main.container .wrapper .select-opponent .vs-player_btn {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1px;
  border-radius: 15px;
  width: 100%;
  text-transform: uppercase;
  background: #31c3bd;
  box-shadow: 0px -8px 0px 0px #118c87 inset;
  padding: 0.875rem 0 1.375rem;
}
main.container .wrapper .select-opponent .vs-player_btn:hover {
  background: #65e9e4;
}
main.container .game_board {
  padding: 1.5rem 1.5rem 7.9375rem;
  flex-direction: column;
  row-gap: 4rem;
  width: 23.4375rem;
}
main.container .game_board .status {
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
main.container .game_board .status .current_player {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.875px;
  border-radius: 5px;
  background: #1f3641;
  box-shadow: 0px -4px 0px 0px #10212a inset;
  color: #a8bfc9;
  padding: 0.625rem 0.9375rem 0.875rem;
  text-transform: uppercase;
}
main.container .game_board .status .restart {
  background-color: #a8bfc9;
  border-radius: 8px;
  box-shadow: 0px -4px 0px 0px #6b8997 inset;
  width: 40px;
  height: 40px;
}
main.container .game_board .status .restart:hover {
  background: #dbe8ed;
}
main.container .game_board .tiles-and-scores {
  row-gap: 1.25rem;
}
main.container .game_board .tiles-and-scores .tiles {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.25rem;
}
main.container .game_board .tiles-and-scores .tiles .tile {
  border-radius: 10px;
  background: #1f3641;
  box-shadow: 0px -8px 0px 0px #10212a inset;
  width: 96px;
  height: 96px;
  position: relative;
}
main.container .game_board .tiles-and-scores .tiles .tile svg {
  position: absolute;
  top: 50%; /* Move down by 50% of the parent's height */
  left: 50%; /* Move right by 50% of the parent's width */
  transform: translate(-50%, -50%);
}
main.container .game_board .tiles-and-scores .tiles .tile:hover {
  cursor: pointer;
}
main.container .game_board .tiles-and-scores .scores {
  column-gap: 1.25rem;
}
main.container .game_board .tiles-and-scores .scores div {
  border-radius: 10px;
  padding: 0.75rem 0;
  text-align: center;
  text-transform: uppercase;
  flex: 1;
}
main.container .game_board .tiles-and-scores .scores div span {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.875px;
}
main.container .game_board .tiles-and-scores .scores div p {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 1.25px;
  text-transform: uppercase;
}
main.container .game_board .tiles-and-scores .scores .you {
  background: #31c3bd;
}
main.container .game_board .tiles-and-scores .scores .ties {
  background: #a8bfc9;
}
main.container .game_board .tiles-and-scores .scores .cpu {
  background: #f2b137;
}
main.container .winner-loser_banner {
  background-color: #1f3641;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
  padding: 2.5rem 2.9375rem 3rem 3rem;
  top: 50%; /* Move down by 50% of the parent's height */
  position: absolute;
  left: 50%; /* Move right by 50% of the parent's width */
  transform: translate(-50%, -50%);
  width: 100vw;
  z-index: 2;
}
main.container .winner-loser_banner .result_desc {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.875px;
  color: #a8bfc9;
  text-transform: uppercase;
}
main.container .winner-loser_banner .result_tie {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: #a8bfc9;
  text-transform: uppercase;
}
main.container .winner-loser_banner .winner {
  column-gap: 0.5rem;
}
main.container .winner-loser_banner .winner img {
  width: 30px;
  height: 30px;
}
main.container .winner-loser_banner .winner span {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}
main.container .winner-loser_banner .winner span.knot {
  color: #f2b137;
}
main.container .winner-loser_banner .winner span.cross {
  color: #31c3bd;
}
main.container .winner-loser_banner .quit-next-round_btns {
  column-gap: 1rem;
}
main.container .winner-loser_banner .quit-next-round_btns .quit {
  background: #a8bfc9;
  box-shadow: 0px -4px 0px 0px #6b8997 inset;
  padding: 0.9375rem 1rem 1.0625rem 1.0625rem;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1px;
  border-radius: 10px;
  color: #1a2a33;
  text-transform: uppercase;
}
main.container .winner-loser_banner .quit-next-round_btns .quit:hover {
  background: #dbe8ed;
}
main.container .winner-loser_banner .quit-next-round_btns .next_round {
  background-color: #f2b137;
  box-shadow: 0px -4px 0px 0px #cc8b13 inset;
  padding: 0.9375rem 1rem 1.0625rem 1.0625rem;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1px;
  border-radius: 10px;
  color: #1a2a33;
  text-transform: uppercase;
}
main.container .winner-loser_banner .quit-next-round_btns .next_round:hover {
  background: #ffc860;
}
main.container .restart_banner {
  align-items: center;
  background-color: #1f3641;
  flex-direction: column;
  row-gap: 1.5rem;
  padding: 3.8125rem 2.125rem;
  position: absolute;
  left: 50%; /* Move right by 50% of the parent's width */
  transform: translate(-50%, -50%);
  width: 100vw;
  z-index: 2;
  top: 50%; /* Move down by 50% of the parent's height */
}
main.container .restart_banner .result_desc {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: #a8bfc9;
  text-transform: uppercase;
}
main.container .restart_banner .restart_btns {
  column-gap: 1rem;
}
main.container .restart_banner .restart_btns .no_cancel {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1px;
  border-radius: 10px;
  color: #1a2a33;
  text-transform: uppercase;
  background: #a8bfc9;
  box-shadow: 0px -4px 0px 0px #6b8997 inset;
  padding: 0.9375rem 1rem 1.0625rem 1.0625rem;
}
main.container .restart_banner .restart_btns .yes_restart {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1px;
  border-radius: 10px;
  color: #1a2a33;
  text-transform: uppercase;
  background: #f2b137;
  box-shadow: 0px -4px 0px 0px #cc8b13 inset;
  padding: 0.9375rem 1.09375rem 1.0625rem 0.96875rem;
}

@media screen and (min-width: 768px) {
  main.container .wrapper {
    padding: 0;
    margin: 17.3125rem 9.625rem;
    row-gap: 2.5rem;
    width: 28.75rem;
  }
  main.container .wrapper .pick-player {
    row-gap: 1rem;
  }
  main.container .wrapper .pick-player .pick_mark {
    margin: 0.5rem 0 0.0625rem;
  }
  main.container .wrapper .select-opponent {
    row-gap: 1.25rem;
  }
  main.container .wrapper .select-opponent .vs-cpu_btn {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1.25px;
    text-transform: uppercase;
    padding: 1.0625rem 0 1.5625rem;
  }
  main.container .wrapper .select-opponent .vs-player_btn {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1.25px;
    text-transform: uppercase;
    padding: 1.0625rem 0 1.5625rem;
  }
  main.container .game_board {
    row-gap: 1.1875rem;
    margin: 12.5625rem auto;
    padding: 0;
    width: 28.75rem;
  }
  main.container .game_board .status .current_player {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 0.8125rem 1.875rem 1.1875rem;
  }
  main.container .game_board .status .restart {
    width: 52px;
    height: 52px;
  }
  main.container .game_board .tiles-and-scores {
    row-gap: 1.25rem;
  }
  main.container .game_board .tiles-and-scores .tiles .tile {
    border-radius: 15px;
    width: 140px;
    height: 140px;
  }
  main.container .game_board .tiles-and-scores .scores div {
    border-radius: 15px;
  }
  main.container .game_board .tiles-and-scores .scores div p {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 1.5px;
    text-transform: uppercase;
  }
  main.container .winner-loser_banner {
    row-gap: 1rem;
    padding: 2.8125rem 8.625rem;
    top: 29%;
    margin-top: 12.5625rem;
  }
  main.container .winner-loser_banner .result_desc {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1px;
  }
  main.container .winner-loser_banner .winner {
    column-gap: 1.5rem;
  }
  main.container .winner-loser_banner .winner img {
    width: 64px;
    height: 64px;
  }
  main.container .winner-loser_banner .winner span {
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 2.5px;
    text-transform: uppercase;
  }
  main.container .restart_banner {
    row-gap: 1.9375rem;
    padding: 4.1875rem 13.125rem;
    top: 29%;
    margin-top: 12.5625rem;
  }
  main.container .restart_banner .result_desc {
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 2.5px;
    text-transform: uppercase;
  }
  main.container .restart_banner .restart_btns {
    column-gap: 1rem;
  }
  main.container .restart_banner .restart_btns .no_cancel {
    padding: 0.9375rem 1rem 1.0625rem 1.125rem;
  }
}
@media screen and (min-width: 1024px) {
  main.container .wrapper {
    margin: 13.4375rem auto;
  }
  main.container .game_board {
    row-gap: 1.25rem;
    margin: 8.6875rem auto;
  }
  main.container .winner-loser_banner {
    row-gap: 1rem;
    padding: 2.8125rem 8.625rem;
    top: 13%;
    margin-top: 15.625rem;
  }
  main.container .restart_banner {
    margin-top: 3.4375rem;
    row-gap: 1.9375rem;
    padding: 4.1875rem 13.125rem;
    top: 27%;
  }
  main.container .restart_banner .result_desc {
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 2.5px;
    text-transform: uppercase;
  }
  main.container .restart_banner .restart_btns {
    column-gap: 1rem;
  }
  main.container .restart_banner .restart_btns .no_cancel {
    padding: 0.9375rem 1rem 1.0625rem 1.125rem;
  }
}

/*# sourceMappingURL=styles.css.map */
